:root {
    --input-padding: 10px 15px;
    --input-border: 1px solid #ddd;
    --input-border-hover: 1px solid #ccc;
    --input-border-focus: 1px solid #000;
    --input-radius: 10px;
    --input-color: #000;
    --input-background: #fff;
    --input-color-hover: #000;
    --input-background-hover: #fff;
    --input-color-focus: #000;
    --input-background-focus: #fff;
}

.input {
    width: 100%;
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: var(--input-radius);
    color: var(--input-color);
    font-size: clamp(1rem, 2vw, 1.125rem);
    background-color: var(--input-background);
}

.input:hover {
    border: var(--input-border-hover);
    color: var(--input-color-hover);
    background-color: var(--input-background-hover);
}

.input:focus {
    border: var(--input-border-focus);
    color: var(--input-color-focus);
    background-color: var(--input-background-focus);
}

input[type=radio].input {
    background-color: red;
}