h1 {
    text-align: center;
    color: #666;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(15px, 3vw, 22px);
    text-shadow: 0 0 10px #222,
                0 0 20px #222,
                0 0 40px #222,
                0 0 60px #222;
}

h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(14px, 2.7vw, 20px);
}

p { color: #999; }

input,
textarea,
button,
p,
a,
a:visited {
    font-size: clamp(12px, 2.5vw, 16px);
}

a { color: #fff; }

a i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: clamp(14px, 2.7vw, 20px);
}

small {
    color: #999;
    font-size: clamp(11px, 2vw, 13px);
}