#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#background p {
    position: absolute;
    white-space: nowrap;
    font-size: 350px;
    line-height: 350px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #999;
    opacity: 0.2;
}

#background p:nth-child(1) {
    top: 30px;
    animation: backgroundRight 10s linear infinite;
    will-change: left;
}

#background p:nth-child(2) {
    bottom: 30px;
    animation: backgroundLeft 10s linear infinite;
    will-change: right;
}

@keyframes backgroundRight {
    0% { left: -100%; }
    100% { left: 100%; }
}

@keyframes backgroundLeft {
    0% { right: -100%; }
    100% { right: 100%; }
}

@media all and (max-width: 800px) {
    #background p {
        font-size: 300px;
        line-height: 300px;
    }
}