#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
    rotate: 90deg;
}

#background p {
    position: relative;
    white-space: nowrap;
    font-size: 250px;
    line-height: 250px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #111;
    font-style: italic;
}

#background p:nth-child(1) {
    animation: backgroundRight 10s linear infinite;
    will-change: left;
}

#background p:nth-child(2) {
    animation: backgroundLeft 10s linear infinite;
    will-change: right;
}

#background p:nth-child(3) {
    animation: backgroundRight 15s linear infinite;
    will-change: left;
}

#background p:nth-child(4) {
    animation: backgroundLeft 15s linear infinite;
    will-change: left;
}

@keyframes backgroundRight {
    0% { left: -100%; }
    100% { left: 110%; }
}

@keyframes backgroundLeft {
    0% { right: -100%; }
    100% { right: 110%; }
}

@media all and (max-width: 800px) {
    #background p {
        font-size: 150px;
        line-height: 150px;
    }
    @keyframes backgroundRight {
        0% { left: -200%; }
        100% { left: 100%; }
    }
    @keyframes backgroundLeft {
        0% { right: -200%; }
        100% { right: 100%; }
    }
}