.card {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    overflow: hidden;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #111;
}

.card-border {
    position: absolute;
    top: -200px;
    left: -200px;
    right: -200px;
    bottom: -200px;
    z-index: 0;
    background-image: conic-gradient(var(--theme) 20deg, transparent 120deg);
    border-radius: 10px;
    animation: cardLeft 3s linear infinite;
}

.card-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #111;
}

@keyframes cardLeft {
    100% { transform: rotate(-360deg); }
}

@keyframes cardRight {
    100% { transform: rotate(360deg); }
}

.card-container a,
.card-container a:visited {
    overflow: hidden;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: clamp(12px, 2.5vw, 16px);
}
  
.card-container a::before,
.card-container a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.card-container a::before {
    background-color: var(--theme);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.card-container a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #fff;
}
  
.card-container a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
.card-container a:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.card-container a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.card-container a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.card-feedback-client {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.card-feedback-client h2 {
    width: 100%;
    text-align: left;
}

.card-feedback-avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #333;
    filter: grayscale(100%);
}

.card-feedback-stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
}

.card-feedback-stars i {
    font-size: clamp(14px, 2.7vw, 20px);
    color: var(--theme);
    transform-origin: center;
    animation: starJump 1s ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes starJump {
    0% { 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        opacity: 0.5;
        transform: scale(1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
        rotate: 360deg;
    }
}