input,
textarea,
button {
    padding: 10px;
    border-radius: 10px;
}

input, 
textarea {
    color: #fff;
    border: 1px solid #333;
    transition: none;
    background-color: transparent;
}

textarea {
    resize: vertical;
    height: 100px;
    max-height: 150px;
}

button {
    width: fit-content;
    color: #000;
    cursor: pointer;
    border: 0;
    padding-inline: 15px;
    background-color: #fff;
}

.button.sucess {
    color: #fff;
    color: #fff;
    background-color: green;
}

.button.error {
    background-color: red;
}