footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 70px;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

footer div a:hover {
    color: #fff;
    text-decoration: underline;
}