.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
    place-items: center;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .card {
    max-width: 500px;
}

.modal div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.modal div button:last-child {
    color: #fff;
    background-color: #222;
}