.music-vibrate {
    animation: vibrate 0.1s linear infinite alternate;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}