.star {
    position: fixed;
    z-index: -1;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 60px #fff,
                0 0 80px #fff,
                0 0 100px #fff;
    animation: twinkleStars 2s infinite alternate;
}
  
@keyframes twinkleStars {
    0% { opacity: 0; }
    50% {
        opacity: 1;
        scale: 1.5;
    }
    100% { opacity: 0; }
}

@media all and (max-width: 800px) {
    .star { display: none; }
}