:root {
    --btn-padding: 10px 15px;
    --btn-border: 1px solid transparent;
    --btn-border-hover: 1px solid transparent;
    --btn-radius: 10px;
    --btn-color: #fff;
    --btn-color-hover: #fff;
    --btn-background: #333;
    --btn-background-hover: #000;
}

.button,
.button-wide {
    width: fit-content;
    padding: var(--btn-padding);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    font-size: clamp(1rem, 2vw, 1.125rem);
    background-color: var(--btn-background);
}

.button-wide { width: 100%; }

.button:hover,
.button-wide:hover {
    border: var(--btn-border-hover);
    color: var(--btn-color-hover);
    background-color: var(--btn-background-hover);
}