main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 700px) {
    main section { padding: 15px; }
}