nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav div { display: flex; }

nav div:first-child {
    flex-direction: column;
    gap: 5px;
}

nav ul {
    display: flex;
    gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;
}

nav a,
nav a:visited {
    display: block;
    color: #ee4d2d;
}

nav a:hover { text-decoration: underline; }

nav a i { color: #666;}